body {
    margin: 8px;
    display: block;
    background-color: lightpink;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color:rgb(198, 83, 141);
    border-style: solid; 
    border-width: 0px 100px 0px 100px;
}

#mainHeading {
    color: red;
    text-align: center;
    margin-block-end: 0px;
    padding-top: 100px;
}

ul {
    margin-block-start: 60px;
    margin-block-end: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
}

li {
    display: inline;
    padding-inline-start: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.background {
    background-image: url('images/istockphoto-948023624-170667a.jpg');
    background-size: 10%;
    background-position-y: 0px;
}

.heading {
    color: hotpink;
    text-align: center;
}

#caption {
    color: white;
    text-align: center;
}

#paragraph {
    color: rgb(198, 83, 141);
    text-align: center;
    padding-right: 300px;
    padding-left: 300px;
    margin-bottom: 100px;
    font-style: italic;
}

#testP {
    text-align: center;
    padding-right: 300px;
    padding-left: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 100px;
    font-style: italic;
}

.funParagraph {
    color: green
}